# Environments & Virtual Envs
venv/
env/
.env
.venv/
ENV/

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.virtual_documents/

# Anaconda / Local project DBs
anaconda_projects/

# Node & Frontend dependencies
diabetes_project/node_modules/
diabetes_project/dist/
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE junk
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
